body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: #f4f4f4;
}

.wrapper {
    margin: 20px; /* Added margin around the entire wrapper */
    display: flex;
    background-color: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.control-panel {
    margin-right: 10px; /* Added margin around the control panel */
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
}

.canvas-container {
    margin-left: 10px; /* Added margin around the canvas container */
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

button {
    margin-top: 15px;
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
/* CSS for social links */
.social-links {
    margin-top: auto; /* Push the links to the bottom */
    display: flex;
    justify-content: space-around; /* Adjust this as needed */
    align-items: stretch;
    padding-top: 20px; /* Add some space between the content and links */
}

/* Additional styling for social links (optional) */
.social-links a {
    text-decoration: none;
    color: #007bff; /* Change the link color as needed */
}


/* Responsive styles for mobile */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column; /* Stack the boxes vertically */
    }
    
    #resizeControl {
        width: 100%;
    }

    #rotateControl {
        width: 100%;
    }
    
    .control-panel, .canvas-container {
        margin-right: 0;
        margin-left: 0;
        border-radius: 8px; /* Adjust border-radius for stacked layout */
    }

    .control-panel {
        border-bottom: 1px solid #ddd; /* Border at the bottom of control panel */
        border-right: none;
        padding-top: 3rem; /* Add 3rem of padding to the top */
    }

    .canvas-container {
        margin-top: 10px; /* Space between control panel and canvas on small screens */
    }
}
